.gallery {
	position: relative;
	border: 3px solid #999;
	border-radius: 15px;
	float: left;
	margin: 0.2em;
	text-align: center;
}

.gallery.disabled {
	opacity: 0.5;
}

.gallery.next {
	box-shadow: 0 0 4px 2px #ffd700;
	border-color: #ffff00;
}

.attacker-human .gallery:hover:not(.disabled) {
	cursor: pointer;
	border-color: #ffff00;
}
