<tr>
  <td>
    <%= image_for(note.user) %>
  </td>
  <td>
    <%= note.user.name %>
   </td>
   <td>
     <p>タイトル</p>
   </td>
   <td>
     <%= link_to note.title, "/notes/#{note.id}"  %>
   </td>
</tr>
