<h1>投稿の一覧</h1>
<table class="table table-striped table-hover ">
  <% @notes.each do |note| %>
  <tr>
    <td>
      <p>タイトル</p>
    </td>
    <td>
        <%= link_to note.title, "/notes/#{note.id}"  %>
    </td>
  </tr>
  <% end %>
</table>
