
<!DOCTYPE HTML>
<!--
	Ion by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>ポエる</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />

		<%= stylesheet_link_tag "/assets/top/style-xlarge", media: "all" %>
	</head>
	<body id="top">


		<!-- Banner -->
			<section id="banner3">
				<div class="inner">
					<h2>ポエる</h2>
					<em><h3>あなたのポエムを私に聞かせてス</h3></em>
					<em><h5>素敵なポエムだとポイントが手に入るかも・・・？</h5><br>例)いいのいいね</em>
					<br>
        <%= render 'form' %>

					
				</div>
			</section>
			
			
			


	
	</body>
</html>

