/* line 5, /home/ubuntu/workspace/app/assets/stylesheets/home.scss */
#login-name a:link {
  color: #FFFFFF;
}
/* line 6, /home/ubuntu/workspace/app/assets/stylesheets/home.scss */
#login-name a:visited {
  color: #FFFFFF;
}
/* line 7, /home/ubuntu/workspace/app/assets/stylesheets/home.scss */
#login-name a:hover {
  color: #FFFFFF;
}
/* line 8, /home/ubuntu/workspace/app/assets/stylesheets/home.scss */
#login-name a:active {
  color: #FFFFFF;
}
