<%= stylesheet_link_tag "/assets/gacha/gacha", media: "all" %>

<%= stylesheet_link_tag "/assets/gacha/shake", :media => "all" %>


<center><h1>あなたの性別は？<br><br><br>

<h3>
<div class="foo">
  <a href="/type/men"><span class="letter shake-horizontal" data-letter="♂">♂</span></a>

  <a href="/type/women"><span class="letter shake-slow" data-letter="♀">♀</span></a>

    
</div>

