<!--%= stylesheet_link_tag "/assets/top/style", media: "all" %>-->

<!--<h1>ガチャ一覧でええええええ巣</h1>-->

<!--<p>スタンプガチャ　友達ガチャ　恋人ガチャ　プレミアム生贄ガチャ</p>-->

<!--<div id="pricing-table" class="clear">-->
<!--    <div class="plan">-->
<!--        <h3>スタンプガチャ<span>100pt</span></h3>-->
<!--        %= link_to "ガチャァ！",{:action => "stampgacha"} %>-->
<!--        <ul>-->
<!--            <li><b>チャットで使えるスタンプをガチャガチャしよう！</b></li>            -->
<!--        </ul> -->
<!--    </div>-->
<!--    <div class="plan">-->
<!--        <h3>友達ガチャ<span>300pt</span></h3>-->
        <!--<a class="signup" href="/gacha/friendgacha">ひくぅ！</a>-->
<!--        %= link_to "ガチャァ！", {:action => "friendgacha"} %>-->
<!--        <ul>-->
<!--            <li><b>友達はポイントで買えるもの。</b></li>            -->
<!--        </ul> -->
<!--    </div>-->
<!--    <div class="plan">-->
<!--        <h3>恋人ガチャ<span>500pt</span></h3>-->
        <!--<a class="signup" href="/lovergacha">ひくぅ！</a>         -->
<!--        %= link_to "ガチャァ！", {:action => "lovergacha"} %>-->
<!--        <ul>-->
<!--            <li><b>恋人がほしい？ポイントでゲットしようゲットしよう！</b></li>                 -->
<!--        </ul> -->
<!--    </div>-->
<!--    <div class="plan">-->
<!--        <h3>プレミアム生贄ガチャ<span>１０人</span></h3>-->
        <!--<a class="signup" href="/premiumgacha">ひくぅ！</a>         -->
<!--        %= link_to "ガチャァ！", {:action => "premiumgacha"} %>-->
<!--        <ul>-->
<!--            <li><b>いらない友人達が恋人へと変貌する</b></li>                    -->
<!--        </ul> -->
<!--    </div>-->
<!--</div>-->

<center><h1>GachaGachaGacha!</h1></center>

<div class="accordion">
  <ul>
    <li>
      <div>
        <a href="/gacha/stampgacha">
          <h2>Stamp Gacha</h2>
          <p>100pt,チャットで使える新しいスタンプをゲットしよう</p>
        </a>
      </div>
    </li>
    <li>
      <div>
        <a href="/gacha/friendgacha">
          <h2>Friend Gacha</h2>
          <p>200pt,友達がいない？ならガチャガチャだ</p>
        </a>
      </div>
    </li>
    <li>
      <div>
        <a href="/gacha/lovergacha">
          <h2>Lover Gacha</h2>
          <p>500pt,あなたのタイプの人、紹介します</p>
        </a>
      </div>
    </li>
    <li>
      <div>
        <a href="/gacha/premiumgacha">
          <h2>Premium IKENIE Gacha</h2>
          <p>友達5人,不要な友達は処分してしまえ</p>
        </a>
      </div>
    </li>
    <!--<li>-->
    <!--  <div>-->
    <!--    <a href="#">-->
    <!--      <h2>Lorem Ipsum</h2>-->
    <!--      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>-->
    <!--    </a>-->
    <!--  </div>-->
    <!--</li>-->
    <!--<li>-->
    <!--  <div>-->
    <!--    <a href="#">-->
    <!--      <h2>Lorem Ipsum</h2>-->
    <!--      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>-->
    <!--    </a>-->
    <!--  </div>-->
    <!--</li>-->
  </ul>
</div>
<!--<p class="about">-->
<!--  By <a href="http://michaelferry.com/">Michael Ferry</a>-->
<!--</p>-->
					<hr />
	            <section>
								<center><h3>※ガチャポイントとは？</h3>
								<h4>各ガチャガチャをするためのポイントだよ！
								素敵なポエムを投稿したり、ゲームをしたりすると溜まっていくよ！</h4>
							</section>
						<!--</div>-->
		