<%= stylesheet_link_tag "/assets/gacha/gacha", media: "all" %>

<%= stylesheet_link_tag "/assets/gacha/shake", :media => "all" %>


<center><h1>どれか１つを選んでね<br><br><br>

<h2>

<div class="foo">
  <a href="/gacha/stampresult"><span class="letter shake-slow" data-letter="H">H</span></a>

  <A href="/gacha/stampresult"><span class="letter shake-hard" data-letter="C">C</span></a>

  <A href="/gacha/stampresult"><span class="letter shake" data-letter="S">S</span></a>
  <!--<br>-->
  <!--<br>-->
  <!--<A href="/gacha/stampresult"><span class="letter shake-little" data-letter="北">北</span></a>-->
  <!--<A href="/gacha/stampresult"><span class="letter shake-horizontal" data-letter="海">海</span></a>-->
  <!--<A href="/gacha/stampresult"><span class="letter shake-vertical" data-letter="道">道</span></a>-->
  <!--<A href="/gacha/stampresult"><span class="letter shake-rotate" data-letter="情">情</span></a>-->
  <!--<A href="/gacha/stampresult"><span class="letter shake-opacity" data-letter="報">報</span></a>-->
  <!--<br>-->
  <!--<br>-->
  <!--<A href="/gacha/stampresult"><span class="letter shake-crazy" data-letter="専">専</span></a>-->
  <!--<A href="/gacha/stampresult"><span class="letter shake-chunk" data-letter="門">門</span></a>-->
  <!--<A href="/gacha/stampresult"><span class="letter shake-horizontal" data-letter="学">学</span></a>-->
  <!--<A href="/gacha/stampresult"><span class="letter shake" data-letter="校">校</span></a>-->
</div>



