
	<!-- Banner -->
			<section id="banner2">
				<div class="inner">
					<h2>本当に退会しますか?</h2>
					

					<ul class="actions">
						<li><a href= '/' class="button big special">いいえ</a></li>
						<li><a href='../leave/thankyou' class="button big alt">はい</a></li>
					</ul>
				</div>
			</section>
			
			<section id="three" class="wrapper style2">
				<div class="container">
					<div class="row">
						<!--<div class="8u">-->
							<section>
								<h3>※退会する前にご確認ください</h3>
								<h4>一度退会してしまうと手に入れたスタンプやフレンドたちは帰ってきません。やり残したことのないようにお気を付けください。</h4>
							</section>
						<!--</div>-->
							<hr />
							
						</div>
					</div>
				</div>
			</section>			