.middle-img{
  width: 30%;
  background-color: #ffffff;  
  // border-style:none;
}

.large-img{
  width: 60%;
  background-color: #ffffff;  
}


.middle-stamp{
  width: 100px;
  height: 100px;
  background-color: #ffffff;  
}

.large-stamp{
  width: 500px;
  height: 500px;
  background-color: #ffffff;  
}
